<!doctype html>
<html lang="{{ site.locale }}">
{% include "head.njk" %}
<body>

{% include "sidebar.njk" %}

  <div role="main" class="content container">
{% block content %}{{ content | safe }}{% endblock %}
  </div>

  {% block Scripts %}
   <script src="https://tinylytics.app/embed/_yyzFEcfcT_s-CKzSTrn.js" defer></script>
  {% endblock %}
</body>
</html>
